# VS user specific files #
##########################
*.suo
*.csproj.user

# Build output folders #
########################
/**/bin
/**/obj

# Test folders #
################
/TestResults
/**/TestResults/
